{% extends "ktrans/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h3></h3>
    <br>
    <div class="row mt-4">
        <h3 class="text-center">How it all started</h3>
        <div class="col-12">
            <p><mark>Ms. Alice Larbi</mark>, business owner of Kidz Transport,a registered Nurse and also a parent of 3
                kids.
                I realized the importance of creating safe transportation for kids from home to school and after
                school activities when at one point i needed someone to pickup my kids from school, but found it
                difficult finding someone who can provide a safe and reliable service to my kids without having to
                worry about their safety. This caused the creation of Kidz Transport.</p>

            <p> There is nothing more important than knowing that your children travel in a safe way. As a parent I
                realized the importance and challenges of getting children to school, scheduled activities and
                various destinations on time. I understand the struggle of trying to balance work, different
                activities,and getting children to school and many activities.

                On many occasions I have seen how family’s schedules are totally different. Many have different
                hours and destinations.</p>

            <p>For this reason, I decided to create this service for myself and the many other parents that need a
                solution to this problem, by eliminating the concerns and challenges of transporting your children
                to and from school or other activities.</p>
            <div class="ceo-img">
                <img class="img-fluid z-depth-1-half" src="{% static 'ktrans/images/alice.jpeg' %}" alt="">
                <br>
                <p>Ms. Alice Larbi</p>
            </div>
        </div>
    </div>
    <br>
</div>
<br>

{% endblock %}