{% extends "ktrans/base.html" %}
{% load static %}
{% block content %}
<div class="container drivers">
    <br>
    <h3 class="text-center driver-head">
        About our Drivers
    </h3>
    <br>
    <div class="row">
        <h4 class="driver-head">All our drivers are certified with a passenger endorsed license.</h4>
        <br>
        <div class="col-12">
            <div class="jumbotron">
                <p> Drivers must pass several tests to qualify.</p>
                <p>Driver Certification Process:</p>
                <p>1. Physical</p>
                <p>a. Complete physical</p>
                <p>b. Tuberculosis test</p>
                <p>c. Drug test</p>
                <br>
                <p>2. Background Check</p>
                <p>3. Initial Bus Safety Class</p>
                <p>a. An eight-hour class on the Rules of the Road for bus driving</p>
                <br>
                <p>Department of Motor Vehicles (DMV)</p>
                <p>a. 20 question multiple choice test</p>
                <p>b. Driving test</p>
                <p>i. You will take this test in a KT van
                    ii. note: you will not be a certified CDL Bus Driver.</p>
                <p>Your license will be changed to a passenger
                    endorsed license.</p>
                <br>
                <h4>Our Drivers are</h4>
                <ul class="li">
                    <li>Highly-qualified individuals with outstanding character and integrity.</li>
                    <li>Trained by therapeutic professionals in addition to traditional safety policies and procedures.
                    </li>
                    <li>Certified from the Safe Ride Section of the Illinois Secretary of State.</li>
                    <li>Background-checked by the Illinois State Police.</li>
                    <li>Certified through annual physicals to be in good health and free from communicable diseases.
                    </li>
                    <li>Drug-tested annually.</li>
                    <li>Retrained annually through the Illinois Secretary of State.</li>
                    <li>English-speaking adults over the age of 21.</li>
                    <li>Well-groomed individuals who wear Kidztransport identification badges at all times.</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <h3 class="text-center">Authorization</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <p>Before driving for Kidztransport Services all drivers must obtain a school bus permit from the Illinois
                    Secretary of State.</p>
                <p>A school bus permit is required for any individual planning to transport school children grade 12 or
                    below for a public, private or religious school</p>
                <h4>Duties and Responsibilities of Drivers and Aides</h4>
                <p>There are many very important duties and responsibilities that you have as a driver and aide.
                    Students
                    and their parents/guardians, as well as school personnel count on you to be polite, courteous, and
                    on
                    time. They expect that you will get the students to and from school safely and supervise them well.
                </p>
                <p>You are also expected to follow the established rules, guidelines, policies, procedures, and
                    practices of
                    the state of Illinois and our transportation office. It is expected that you will be courteous and
                    respectful to your supervisors, facility employees, coworkers, students, school staff and community
                    members.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <ul class="nav nav-tabs md-tabs" id="myTabEx" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="home-tab-ex" data-toggle="tab" href="#home-ex" role="tab"
                            aria-controls="home-ex" aria-selected="true">Applicants for the school bus permit must:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-ex" data-toggle="tab" href="#profile-ex" role="tab"
                            aria-controls="profile-ex" aria-selected="false">Other Qualifications:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab-ex" data-toggle="tab" href="#contact-ex" role="tab"
                            aria-controls="contact-ex" aria-selected="false">Hiring Process:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="probation-tab-ex" data-toggle="tab" href="#probation-ex" role="tab"
                            aria-controls="probation-ex" aria-selected="false">Probationary Status:</a>
                    </li>
                </ul>
                <div class="tab-content pt-5" id="myTabContentEx">
                    <div class="tab-pane fade active show" id="home-ex" role="tabpanel" aria-labelledby="home-tab-ex">
                        <ul class="list-group">
                            <li class="list-group-item">Be age 21 or older.</li>
                            <li class="list-group-item">Possess a valid and properly classified Illinois driver’s
                                license or a
                                valid license issued by Indiana, Michigan, Wisconsin, Iowa, Missouri or Kentucky. The
                                valid
                                license must contain an “S” endorsement.</li>
                            <li class="list-group-item">Possess a valid driver’s license for three years immediately
                                prior to
                                the date of your application, which has not been revoked, suspended, cancelled or
                                disqualified.
                            </li>
                            <li class="list-group-item">Pass an Illinois written school bus driver permit test (valid
                                for one
                                year).</li>
                            <li class="list-group-item">Pass a behind-the-wheel exam (valid for 90 days) in the type of
                                vehicle
                                you will be driving.</li>
                            <li class="list-group-item">Pass a physical examination (valid for 90 days), including drug
                                and
                                tuberculosis testing.</li>
                            <li class="list-group-item">Affirm under penalty of perjury that you have not made a false
                                statement
                                or knowingly concealed a material fact in any application for a permit..</li>
                            <li class="list-group-item">Complete an initial classroom training course (valid for one
                                year)
                                administered by the Illinois State Board of Education. A refresher course must be taken
                                prior to
                                renewal.</li>
                            <li class="list-group-item">Not have been under an order of court supervision or convicted
                                of two or
                                more serious traffic violations in the 12-month period prior to the date of your
                                application.
                            </li>
                            <li class="list-group-item">Not have been under an order of court supervision or convicted
                                of
                                reckless driving, DUI or reckless homicide resulting while operating a motor vehicle
                                within
                                three years of the date of your application.</li>
                            <li class="list-group-item">Pass an Illinois specific and FBI criminal background check.
                                Fingerprint
                                results are valid for one year.</li>
                            <li class="list-group-item">Consent in writing to the release of results of reasonable
                                suspicion
                                drug and alcohol testing by the employer of the applicant to the Secretary of State;
                            </li>
                            <li class="list-group-item">Not have caused a fatal accident as the result of the unlawful
                                operation
                                of a motor vehicle.</li>
                            <li class="list-group-item">Not have been afflicted with or suffering from any mental
                                disability or
                                disease within the last five years</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile-ex" role="tabpanel" aria-labelledby="profile-tab-ex">
                        <ul class="list-group">
                            <li class="list-group-item">Be of good moral character to work with children</li>
                            <li class="list-group-item">Be able to work a split shift</li>
                            <li class="list-group-item">Be able to start work very early in the morning</li>
                            <li class="list-group-item">Have been licensed a minimum of five years</li>
                            <li class="list-group-item">Have a clean driving record</li>
                            <li class="list-group-item">Be able to read, write and communicate in English</li>
                            <li class="list-group-item">Be willing to spend time in training, and updated training
                                activities to
                                lean proficiency in job performance.</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="contact-ex" role="tabpanel" aria-labelledby="contact-tab-ex">
                        <p>The following must be in place prior to your employment by Kidztransport Services</p>
                        <ul class="list-group">
                            <li class="list-group-item">1.Completed job application</li>
                            <li class="list-group-item">2.An interview with a member of the administrative
                                transportation team
                            </li>
                            <li class="list-group-item">3.A “satisfactory” Criminal Background Check</li>
                            <li class="list-group-item">4.An acceptable driving background based on a review of your
                                motor
                                vehicle records</li>
                            <li class="list-group-item">5.A Pass on the pre-employment drug test and physical</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="probation-ex" role="tabpanel" aria-labelledby="probation-tab-ex">
                        <p>All new employees are probationary for ninety (90) working days. After this period, and after
                            demonstrating adequate job competencies, you will become a regular driver or aide if a
                            permanent
                            position is available.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">

                <ul class="nav nav-tabs md-tabs" id="myTabEx" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="home1-tab-ex" data-toggle="tab" href="#home1-ex" role="tab"
                            aria-controls="home1-ex" aria-selected="true">Annual Physical Exams (Drivers):</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile1-tab-ex" data-toggle="tab" href="#profile1-ex" role="tab"
                            aria-controls="profile1-ex" aria-selected="false">Drug and Alcohol Testing:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact1-tab-ex" data-toggle="tab" href="#contact1-ex" role="tab"
                            aria-controls="contact1-ex" aria-selected="false">Blood Borne Pathogen Training:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="accidents1-tab-ex" data-toggle="tab" href="#accidents1-ex" role="tab"
                            aria-controls="accidents1-ex" aria-selected="false">Accidents:</a>
                    </li>
                </ul>
                <div class="tab-content pt-5" id="myTabContentEx">
                    <div class="tab-pane fade active show" id="home1-ex" role="tabpanel" aria-labelledby="home1-tab-ex">
                        <p>You must pass an annual physical exam as required by the state.</p>
                    </div>
                    <div class="tab-pane fade" id="profile1-ex" role="tabpanel" aria-labelledby="profile1-tab-ex">
                        <p>You will be placed in random selection pools for drug and alcohol testing.</p>
                    </div>
                    <div class="tab-pane fade" id="contact1-ex" role="tabpanel" aria-labelledby="contact1-tab-ex">
                        <p>All employees of Kidztransport Services must take the Initial Blood Borne Pathogen Training. You
                            will
                            also be required to take the refresher course annually.</p>
                    </div>
                    <div class="tab-pane fade" id="accidents1-ex" role="tabpanel" aria-labelledby="accidents1-tab-ex">
                        <p>If you are involved in a vehicular accident, you must report it immediately to dispatch. If
                            you
                            are found to be at fault, you must participate in classroom retraining.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3 class="text-center">Our Vehicles</h3>
    <br>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img src="{% static 'ktrans/images/283879_innova-car-png.png' %}" alt="" >
            </div>
            <div class="col-md-6 mb-3">
                <img src="{% static 'ktrans/images/van-png-hd-toyota-png-hd-580.png' %}" alt="" >
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}