<nav class="mynavbar">
    <div class="forclose">
        <i class="fas fa-window-close fa-2x"></i>
    </div>
    <ul>
        <li class="mynavlinks"><a href="{% url 'home' %}">Home</a></li>
        <li class="mynavlinks"><a href="{% url 'our_drivers' %}">Our Drivers</a></li>
        <li class="mynavlinks"><a href="{% url 'parents' %}">Parents</a></li>
        <li class="mynavlinks"><a href="{% url 'service_areas' %}">Serving Areas</a></li>
        <li class="mynavlinks"><a href="{% url 'team' %}">Team</a></li>
        <li class="mynavlinks"><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>