{% extends "ktrans/base.html" %}
{% block content %}

<div class="container ourparents">
    <br>
    <h3 class="text-center">Parents</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <p>All Parents would be notified as soon as their kid is picked-up or dropped-off.</p>
                <p class="transprocess">Transportaion pick-up process</p>
                <p>1. When the driver pulls up to the student’s home, the driver will wait 3 minutes after the student’s
                    assigned pick up time.<br>
                    2. After a 3 minute wait, the driver will leave and continue on their route.
                    <br>
                    3. Attendance will be kept for all absences and “no shows” and shared with appropriate schools or internships.
                </p>
                <p class="transprocess">Transportaion drop-off process</p>
                <p>1. Students will only be dropped off at location designated by the district.</p>
                <p class="absent">How to report an absence</p>
                <ul>
                    <li>If you know your child will not be needing transportation, please call the office at 773-349-0780 | 312-863-9262 to inform us of your child’s absence.</li>
                    <li>When you call, please tell us if your child will not need transportation in the AM, PM or all day.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}