{% extends "ktrans/base.html" %}
{% block content %}
<div class="container servingareas">
    <h3 class="text-center">Serving Areas</h3>
    <div class="jumbotron">

        <div class="row text-center">
            <div class="col-md-4 mb-3">
                <div id="map-container" class="" style="width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=Bolingbrook&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>
                <h3>Bolingbrook</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div id="map-container" class="" style="width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=Woodridge&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>
                <h3>Woodridge</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div id="map-container" class="" style="width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=Romeoville&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>
                <h3>Romeoville</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div id="map-container" class="" style="width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=Plainfield&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>
                <h3>Plainfield</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div id="map-container" class="" style="width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=Joliet&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <h3>Joliet</h3>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock %}

<!--Google map-->